.sidebar button {
    width: 100%;
    text-align: left;
    padding: 0.5rem 0.75rem;
    /* margin-bottom: 25px; */
    border-radius: 0.375rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #3E3E3E;
}

.sidebar button:focus {
    outline: none;
    background-color: #3E3E3E;
    /* Tailwind's gray-500 */
}

.sidebar button span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.375rem;
}

/* venodr profile section  */

.vendorTable th span {
    display: flex;
    align-items: center;
    gap: 4px;
    /* Adjust the gap as needed */
}

/* settings section styles  */

.listStyle li {
    border-bottom: 1px solid ray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px
}