.sidebar button {
    width: 100%;
    text-align: left;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #3E3E3E;
}

.sidebar button:focus {
    outline: none;
    background-color: #3E3E3E;
    /* Tailwind's gray-500 */
}

.sidebar button span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.375rem;
}

/* w-full text-left px-3 py-2 rounded hover:bg-[#3E3E3E] */
/* className="flex items-center justify-start gap-1.5" */