.customInput {
    width: 100%;
    padding-top: 0.5rem;
    /* py-2 */
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    /* px-3 */
    padding-right: 0.75rem;

    color: #4a5568;
    /* text-gray-700 */
    border-radius: 0.25rem;
    /* rounded */
    border: 1px solid #3E3E3E;
    /* border + custom color */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* shadow */
    appearance: none;
    /* appearance-none */
    line-height: 1.25;
    /* leading-tight */
}

.customInput:focus {
    outline: none;
    /* focus:outline-none */
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    /* focus:shadow-outline */
}

/* sidebar style  */

.sidebar button {
    width: 100%;
    text-align: left;
    padding: 0.5rem 0.75rem;
    /* margin-bottom: 25px; */
    border-radius: 0.375rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #3E3E3E;
}

.sidebar button:focus {
    outline: none;
    background-color: #3E3E3E;
    /* Tailwind's gray-500 */
}

.sidebar button span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.375rem;
}

/* venodr profile section  */

.vendorTable th span {
    display: flex;
    align-items: center;
    gap: 4px;
    /* Adjust the gap as needed */
}

/* settings section styles  */

.listStyle li a {
    font-size: 24px;
    color: #222222;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px
}